body {
    background-color: #f3f3f3;
}

#navbar {
    overflow: hidden;
    background-color: #e6e6e6;
}

#toolbar {
    overflow:hidden;
    background-color: #e0e0e0;
}

#toolbar div {
    display: none;
}

#toolbar .show {
    display: block;
}

#navbar button, #toolbar button, #toolbar input {
    color: #000000;
    text-align:  center;
    text-decoration: none;
    font-size: 17px;
    user-select: none;
    border: none;
    outline: none;
}

#toolbar input {
    background: transparent;
    padding: 8px;
    border-bottom: 1px solid white;
}

#fontsize {
    max-width: 50px;
}

#fontfamily {
    max-width: 100px;
}

#navbar button, #toolbar button {
    padding: 8px 16px;
    cursor: pointer;
}

#navbar button:hover, #toolbar button:hover {
    background-color: #adadad;
}

#navbar button.active {
    background-color: #575757;
    color: white;
}

canvas {
    outline: none;
}